* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.container{
  height: 100%;
  width: 100%;
}

main {
  height: 90%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left,
main .right {
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}

main .left {
  background-color: #000000;
  position: relative;
}

.left .code,
.code pre,
.code pre code {
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #0c0c0c;
}

main .left .review {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}
main .left .save {
  position: absolute;
  bottom: 1rem;
  right: 9rem;
  background-color: rgb(219, 219, 255);
  color: #000000;
  padding: 0.5rem 2rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}


main .right {
  background-color: #343434;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  overflow: auto;
}


.navbar{
  /* margin-top: 10px; */
  height: 90px;
  background-color: #000000;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.navbar img{
  width: 40px;
  border-radius: 50%; 
  object-fit: cover; 
}

.navbar .profile{

  display: flex;
  gap: 20px;
}
.navbar .profile .history{
  color: aliceblue;
  font-size:large;
  margin-right: 10px;
  cursor: pointer;
}
.navbar .profile .home{
  color: aliceblue;
  font-size:large;
  margin-right: 10px;
  cursor: pointer;
  
}


.boxcontainer h2{
  text-align: center;
  font-size:xx-large;
  margin: 7px;
  padding: 10px;
  /* display: flex;
  flex-wrap: wrap; */
}
 .card{
  border: 3px solid rgb(218, 226, 217);
  margin: 10px;
  padding: 12px;
  overflow: auto;
  width: 99%;
  height: 100%;
  
}

.card h3{
  text-align: center;
  margin: 3px;
  padding: 3px;
  font-size:x-large;
}

.card pre{

  margin: 3px;
  padding: 3px;
  font-size: 1rem;
  white-space: pre-wrap;
}
.card p{

  margin: 3px;
  padding: 3px;
  font-size: 1rem;
}


